In [84]:
import pandas as pd
from pathlib import Path
from pandas import DataFrame
import numpy as np

In [85]:
monthlydata = DataFrame(pd.read_csv(
    Path('monthly_reportcsvs/aggarrivals2022.csv'), 
    parse_dates=True, 
    infer_datetime_format=True)
)

#for individual files with the total row at the bottom
#monthlydata.drop(monthlydata.tail(2).index,
        #inplace = True)

In [86]:
print(monthlydata.nunique(axis=0))
display(monthlydata)

ARRIVES               118
BOOKED                154
GUEST                1733
CHECKIN_STATUS          4
CHECKIN_STATUS_TS    1496
ROOM                   17
UNIT                  122
LOS                    25
RATE                  393
ADR                   269
TOTAL                 566
OTHER                   1
BALANCE                96
dtype: int64

,ARRIVES,BOOKED,GUEST,CHECKIN_STATUS,CHECKIN_STATUS_TS,ROOM,UNIT,LOS,RATE,ADR,TOTAL,OTHER,BALANCE
0,1/15/2022,1/15/2022,Brooke Adams (pet),Checked Out,1/16/2022 13:45,Dog Friendly - Hotel Room with Dunes View - Do...,142,1,$129.00,$129.00,$165.84,$0.00,$0.00
1,1/17/2022,1/17/2022,Hugo Aguilar,Checked Out,1/18/2022 10:16,Dog Friendly - Hotel Room with Dunes View - Do...,142,1,$89.38,$89.38,$99.48,$0.00,$0.00
2,1/22/2022,1/22/2022,Joseph Allard,Checked Out,1/23/2022 16:44,Hotel Room with Dunes View - Double Queen - No...,140,1,$135.00,$135.00,$150.26,$0.00,$0.00
3,1/29/2022,1/24/2022,Dave Allen,Checked Out,1/30/2022 9:31,1st Floor Deluxe Condo - Dunes View,115,1,$209.00,$209.00,$232.62,$0.00,$0.00
4,1/15/2022,1/15/2022,Kameron Allen(pet),Checked Out,1/16/2022 10:58,Dog Friendly - 3rd Floor Deluxe Condo - Ocean ...,315,1,$220.58,$220.58,$267.77,$0.00,$0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020,4/22/2022,3/3/2022,krista young,Checked In,4/22/2022 14:56,Dog Friendly - 1st Floor Deluxe Condo - Dunes ...,105,4,$200.00,$50.00,$222.60,$0.00,$222.60
2021,4/9/2022,3/3/2022,Krista Young,Checked Out,4/11/2022 13:39,Dog Friendly - 1st Floor Deluxe Condo - Dunes ...,105,2,$0.00,$0.00,$0.00,$0.00,$0.00
2022,4/23/2022,4/16/2022,Mark Young,Pending,NaN,Hotel Room - Top Floor with Ocean View and Bal...,328,1,$185.40,$185.40,$206.35,$0.00,$206.35
2023,4/2/2022,3/26/2022,Hang Zhang (pet),Checked Out,4/3/2022 12:38,Dog Friendly - Hotel Room with Dunes View - Do...,128,1,$136.12,$136.12,$173.76,$0.00,$0.00
2024,4/29/2022,2/26/2022,Ray Zimmerman,Pending,NaN,Hotel Room - Top Floor with Ocean View and Bal...,329,2,$218.00,$109.00,$242.64,$0.00,$242.64

In [87]:
monthlydatatrim = monthlydata.drop(columns =['ARRIVES', 'BOOKED', 'GUEST', 'CHECKIN_STATUS_TS', 'ROOM'])
print(monthlydatatrim.nunique(axis=0))

newdf = monthlydatatrim[["CHECKIN_STATUS", "UNIT", "LOS", "RATE", "ADR", "TOTAL", "OTHER", "BALANCE"]].astype('string')

newdf = newdf[newdf.columns[0:]].apply(lambda x: x.str.replace('$','')).apply(lambda x: x.str.replace(',',''))

newdf[["LOS", "RATE", "ADR", "TOTAL", "OTHER", "BALANCE"]] = newdf[["LOS", "RATE", "ADR", "TOTAL", "OTHER", "BALANCE"]].apply(pd.to_numeric)

display(newdf)

newdf.dtypes

CHECKIN_STATUS      4
UNIT              122
LOS                25
RATE              393
ADR               269
TOTAL             566
OTHER               1
BALANCE            96
dtype: int64

C:\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

     CHECKIN_STATUS UNIT  LOS    RATE     ADR   TOTAL  OTHER  BALANCE
0       Checked Out  142    1  129.00  129.00  165.84    0.0     0.00
1       Checked Out  142    1   89.38   89.38   99.48    0.0     0.00
2       Checked Out  140    1  135.00  135.00  150.26    0.0     0.00
3       Checked Out  115    1  209.00  209.00  232.62    0.0     0.00
4       Checked Out  315    1  220.58  220.58  267.77    0.0     0.00
...             ...  ...  ...     ...     ...     ...    ...      ...
2020     Checked In  105    4  200.00   50.00  222.60    0.0   222.60
2021    Checked Out  105    2    0.00    0.00    0.00    0.0     0.00
2022        Pending  328    1  185.40  185.40  206.35    0.0   206.35
2023    Checked Out  128    1  136.12  136.12  173.76    0.0     0.00
2024        Pending  329    2  218.00  109.00  242.64    0.0   242.64

[2025 rows x 8 columns]

CHECKIN_STATUS     string
UNIT               string
LOS                 int64
RATE              float64
ADR               float64
TOTAL             float64
OTHER             float64
BALANCE           float64
dtype: object

In [88]:
sumnewdf = newdf.groupby('UNIT')['TOTAL'].sum()


print(sumnewdf)

UNIT
101                     511.33
102                    6666.45
103                    5613.65
105                    9015.76
106                    1574.06
                        ...
343                    8896.93
400 A                     0.00
400 B                   222.60
400C - Sunrise Room       0.00
Unassigned              160.17
Name: TOTAL, Length: 122, dtype: float64